In [ ]:
import pandas as pd

Load Dataset from local directory

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving car_price.csv to car_price.csv

Load Dataset

In [ ]:
dataset=pd.read_csv('car_price.csv')
print(dataset)

      Serial_No                             car_name car_price car_driven  \
0             0  Jeep Compa 2.0 Longitude Option BIV     10.03     86,226
1             1          Renault Duter RXZ Turbo CVT     12.83     13,248
2             2                   Toyota Camry 2.5 G      16.4     60,343
3             3                    Honda Jazz VX CVT      7.77     26,696
4             4      Volkwagen Polo 1.2 MPI Highline      5.15     69,414
...         ...                                  ...       ...        ...
5507       5507               BMW X1 Drive 20d xLine      28.9     45,000
5508       5508                  BMW M erie M4 Coupe      64.9     29,000
5509       5509           Jaguar XF 2.2 Litre Luxury     13.75     90,000
5510       5510                     BMW 7 erie 730Ld      29.9     79,000
5511       5511               BMW 5 erie 520d M port      31.9     42,000

     fuel_type  tranmiion   ownerhip  manufacture  engine  seat
0        Dieel     Manual   1t Owner         2017    1956     5
1       Petrol  Automatic   1t Owner         2021    1330     5
2       Petrol  Automatic   1t Owner         2016    2494     5
3       Petrol  Automatic   1t Owner         2018    1199     5
4       Petrol     Manual   1t Owner         2016    1199     5
...        ...        ...        ...          ...     ...   ...
5507     Dieel  Automatic   1t Owner         2018    2995     7
5508    Petrol  Automatic  2nd Owner         2015    1968     5
5509     Dieel  Automatic  2nd Owner         2013    2755     5
5510     Dieel  Automatic  3rd Owner         2015    2967     6
5511     Dieel  Automatic  2nd Owner         2017    1991     5

[5512 rows x 10 columns]

In [ ]:
dataset=dataset.drop(['Serial_No'],axis=1)
dataset

,car_name,car_price,car_driven,fuel_type,tranmiion,ownerhip,manufacture,engine,seat
0,Jeep Compa 2.0 Longitude Option BIV,10.03,"86,226",Dieel,Manual,1t Owner,2017,1956,5
1,Renault Duter RXZ Turbo CVT,12.83,"13,248",Petrol,Automatic,1t Owner,2021,1330,5
2,Toyota Camry 2.5 G,16.4,"60,343",Petrol,Automatic,1t Owner,2016,2494,5
3,Honda Jazz VX CVT,7.77,"26,696",Petrol,Automatic,1t Owner,2018,1199,5
4,Volkwagen Polo 1.2 MPI Highline,5.15,"69,414",Petrol,Manual,1t Owner,2016,1199,5
...,...,...,...,...,...,...,...,...,...
5507,BMW X1 Drive 20d xLine,28.9,"45,000",Dieel,Automatic,1t Owner,2018,2995,7
5508,BMW M erie M4 Coupe,64.9,"29,000",Petrol,Automatic,2nd Owner,2015,1968,5
5509,Jaguar XF 2.2 Litre Luxury,13.75,"90,000",Dieel,Automatic,2nd Owner,2013,2755,5
5510,BMW 7 erie 730Ld,29.9,"79,000",Dieel,Automatic,3rd Owner,2015,2967,6
5511,BMW 5 erie 520d M port,31.9,"42,000",Dieel,Automatic,2nd Owner,2017,1991,5

Summarize dataset

In [ ]:
print(dataset.shape)
print(dataset.head(7))

(5512, 9)
                                 car_name car_price car_driven fuel_type  \
0     Jeep Compa 2.0 Longitude Option BIV     10.03     86,226     Dieel
1             Renault Duter RXZ Turbo CVT     12.83     13,248    Petrol
2                      Toyota Camry 2.5 G      16.4     60,343    Petrol
3                       Honda Jazz VX CVT      7.77     26,696    Petrol
4         Volkwagen Polo 1.2 MPI Highline      5.15     69,414    Petrol
5      Volkwagen Vento 1.2 TI Highline AT      7.66     49,719    Petrol
6  Volkwagen Vento 1.2 TI Highline Plu AT      7.58     43,688    Petrol

   tranmiion  ownerhip  manufacture  engine  seat
0     Manual  1t Owner         2017    1956     5
1  Automatic  1t Owner         2021    1330     5
2  Automatic  1t Owner         2016    2494     5
3  Automatic  1t Owner         2018    1199     5
4     Manual  1t Owner         2016    1199     5
5  Automatic  1t Owner         2017    1197     5
6  Automatic  1t Owner         2017    1197     5

Splitting dataset into X and Y
This X contain Both Numerical and Text data

In [ ]:
Xdata=dataset.drop('car_price',axis='columns')
numericalCols=Xdata.select_dtypes(exclude=['object']).columns
X=Xdata[numericalCols]
X

      manufacture  engine  seat
0            2017    1956     5
1            2021    1330     5
2            2016    2494     5
3            2018    1199     5
4            2016    1199     5
...           ...     ...   ...
5507         2018    2995     7
5508         2015    1968     5
5509         2013    2755     5
5510         2015    2967     6
5511         2017    1991     5

[5512 rows x 3 columns]

In [ ]:
Y=dataset['car_price']
Y

0       10.03
1       12.83
2        16.4
3        7.77
4        5.15
        ...
5507     28.9
5508     64.9
5509    13.75
5510     29.9
5511     31.9
Name: car_price, Length: 5512, dtype: object

Scaling the independent variables

In [ ]:
from sklearn.preprocessing import scale 
cols=X.columns 
X.columns=cols
X

      manufacture  engine  seat
0            2017    1956     5
1            2021    1330     5
2            2016    2494     5
3            2018    1199     5
4            2016    1199     5
...           ...     ...   ...
5507         2018    2995     7
5508         2015    1968     5
5509         2013    2755     5
5510         2015    2967     6
5511         2017    1991     5

[5512 rows x 3 columns]

In [ ]:
Y

0       10.03
1       12.83
2        16.4
3        7.77
4        5.15
        ...
5507     28.9
5508     64.9
5509    13.75
5510     29.9
5511     31.9
Name: car_price, Length: 5512, dtype: object

Splitting Dataset into Train and Test

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

Training using Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
# model.fit(x_train,y_train)
model.fit(x_train,y_train)

ValueError: ignored

In [1]:
ypred=model.predict(x_test)
from sklearn.metrics import r2_score
r2score=r2_score(y_test,ypred)
print("R2Score",r2score*100)

NameError: ignored